@model WebsiteThuCungBento.Models.CHUCNANG_QUYEN

@{
    ViewBag.Title = "Xóa chức năng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã chức năng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MACHUCNANG)
        </dd>

        <dt>
            Tên chức năng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCN)
        </dd>
        
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại trang trước", "DSChucNang")
        </div>
    }
</div>

